<a href="https://colab.research.google.com/github/nouretienne/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/U1S1M1%262_PRACTICE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Auto MPG Data Set**

The data concerns city-cycle fuel consumption in miles per gallon, to be predicted in terms of 3 multivalued discrete and 5 continuous attributes. Ross Quinlan (1993) in predicting the attribute "mpg". 

To know more about Mechanic  [What is Engine Displacement](https://www.yourmechanic.com/article/what-is-engine-displacement)

In [ ]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data

In [ ]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original

**Let's create a function that gets the name of the headers.**

In [ ]:
text = """1. mpg: continuous
2. cylinders: multi-valued discrete
3. displacement: continuous
4. horsepower: continuous
5. weight: continuous
6. acceleration: continuous
7. model year: multi-valued discrete
8. origin: multi-valued discrete
9. car name: string (unique for each instance)"""
t = text.strip('\n')
headers = [t.split(':')[0].split()[1] for t in text.split('\n')]
headers

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model',
 'origin',
 'car']

In [ ]:
url_address = 'https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

import pandas as pd
import numpy as np

mpg =  pd.read_csv(url_address, sep='\s+', header=None, names=headers)
print(mpg.shape)
mpg.tail()

(398, 9)

      mpg  cylinders  displacement  ... model  origin              car
393  27.0          4         140.0  ...    82       1  ford mustang gl
394  44.0          4          97.0  ...    82       2        vw pickup
395  32.0          4         135.0  ...    82       1    dodge rampage
396  28.0          4         120.0  ...    82       1      ford ranger
397  31.0          4         119.0  ...    82       1       chevy s-10

[5 rows x 9 columns]

Let's look at the type of my dataframe

We can see horsepower is declared as an object. Beside we know the existence of 
missing values.

In [ ]:
mpg.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model             int64
origin            int64
car              object
dtype: object

In [ ]:
mpg = mpg.replace('?',np.NaN)
type(mpg['horsepower'].iloc[32])

float

But the data itself is recorded as a string.

In [ ]:
def str_to_float(input):
  if isinstance(input, str):
    return float(input)
  else:
    return input

mpg['horsepower'] = mpg['horsepower'].apply(str_to_float)
mpg['horsepower'][:30]

0     130.0
1     165.0
2     150.0
3     150.0
4     140.0
5     198.0
6     220.0
7     215.0
8     225.0
9     190.0
10    170.0
11    160.0
12    150.0
13    225.0
14     95.0
15     95.0
16     97.0
17     85.0
18     88.0
19     46.0
20     87.0
21     90.0
22     95.0
23    113.0
24     90.0
25    215.0
26    200.0
27    210.0
28    193.0
29     88.0
Name: horsepower, dtype: float64

In [ ]:
mpg.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model             int64
origin            int64
car              object
dtype: object

In [ ]:
mpg['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

In [ ]:
mpg['model'].value_counts(ascending=False)

73    40
78    36
76    34
82    31
75    30
81    29
80    29
79    29
70    29
77    28
72    28
71    28
74    27
Name: model, dtype: int64

In [ ]:
mpg['origin'].value_counts()

1    249
3     79
2     70
Name: origin, dtype: int64